<html>
  <head></header>
  <body>
    <p>
      <br>
      your guess was <%= guess %>

      <br>
      <br>
      <%= message %>
    </p>
  </body>
</html>

<form>
   <input type="text" name="guess" />
   <input type="submit" name="Guess!" />
</form>
